.user{
    flex: 4;
}

.userTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color:teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
    margin-right: 20px;
}

.userUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userShowUsername{
    font-size: 22px;
    font-weight: 600;
}

.userShowUserTitle{
    font-size: 22px;
    font-weight: 300;
}